.header__main {
    margin-top: 7rem;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    justify-content: center;
    flex-wrap: wrap;
    gap: 140px;
}

.header__right {
    position: relative;
}

.header__bg-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    width: 400px;
    height: 400px;
    background: linear-gradient(-45deg, rgba(189, 52, 254, .8) 50%, rgba(71, 202, 255, .8) 50%);;
    filter: blur(102px);
    transform: translate(-50%, -50%);
}

.header__logo {
    position: relative;
    max-width: 350px;
}

.header__title {
    color: #3C3C43;
    font-size: 3rem;
    margin: 0;
}

.header__title span {
    background: -webkit-linear-gradient(45deg, #7194FE, #B63CFE 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header__desc {
    margin-bottom: 2rem;
    font-weight: 500;
    max-width: 700px;
    font-size: 1.8rem;
    color: rgba(60, 60, 67, 0.78);
}

.header__parent-btn {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.header__parent-btn button:not(:first-child) {
    margin: 0 .5rem;
}