* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main {
  margin-top: 10rem;
  transform-style: preserve-3d;
  transform: rotateX(20deg) rotateY(25deg);
  position: relative;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

button {
  border: 0;
}

a {
  text-decoration: none;
}

input:focus {
  outline: 0;
}